# rename this file to .local.env and fill in the necessary values
# NOTE: do *NOT* commit this file and make sure to use this only for local development.
# for production, we will inject these values as environment variables directly.

# commented: has default values
# uncommented: needs to be filled in

## App
# LEVEL=info # debug, info, warn, error

## Network
# HOST=api.teambigbox.com
# PORT=3000
# CORS=

## Auth
JWT_SECRET= # private key for signing JWT
# JWT_EXPIRY=4w # 4 weeks
PEPPER= # password pepper

## Database
# DB_HOST=db # use 'db' for docker-compose, 'localhost' for local test
# DB_PORT=5432 # postgres
# DB_USER=postgres
DB_PASSWORD=
# DB_DATABASE=aroundy
