# rename this file to `.env` and fill in the necessary values
# NOTE: do *NOT* commit this file and make sure to use this only for local development.
# for production, we will inject these values as environment variables directly.

## App
LEVEL=info # debug, info, warn, error

## Network
HOST=api.teambigbox.com
PORT=3000
# CORS=

## Auth
JWT_SECRET=   # private key for signing JWT
JWT_EXPIRY=4w # 4 weeks
PEPPER=       # password pepper

## Database
DB_HOST=localhost # use 'db' for docker-compose, 'localhost' for local test
DB_PORT=5432      # postgres
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=aroundy

# for prisma:
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}
